BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

LOCATE COMP "CLK_48" SITE "A7";
IOBUF  PORT "CLK_48" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK_48" 48 MHZ;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=2.4 MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_MODE=SPI_SERIAL;

LOCATE COMP "SPI_SS_FLASH" SITE "N8";
IOBUF PORT "SPI_SS_FLASH" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MISO" SITE "T7";
IOBUF PORT "SPI_MISO" IO_TYPE=LVCMOS33;
LOCATE COMP "SPI_MOSI" SITE "T8";
IOBUF PORT "SPI_MOSI" IO_TYPE=LVCMOS33;

LOCATE COMP "AUD_DIN" SITE "R12";
IOBUF PORT "AUD_DIN" IO_TYPE=LVCMOS33;
LOCATE COMP "AUD_WS" SITE "T14";
IOBUF PORT "AUD_WS" IO_TYPE=LVCMOS33;
LOCATE COMP "AUD_BCK" SITE "T13";
IOBUF PORT "AUD_BCK" IO_TYPE=LVCMOS33;
